{% extends 'base.html.twig' %}

{% block title %}Delete Article{% endblock %}

{% block body %}
    <h1>Delete Article</h1>
    <div class="alert alert-danger">Confirm delete article : '{{ article.name }}' ? </div>
    <form method="post" action="{{ path('article_delete', {'id': article.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <div class="btn-group btn-group-sm" role="group">
            <a class="btn btn-secondary" href="{{ path('article_index') }}">Cancel</a>
            <button class="btn btn-danger">Yes</button>
        </div>
    </form>
{% endblock %}




